# 조건문

In [13]:
# 양수 판별
n = int(input('정수 입력> '))

정수 입력> 0

In [14]:
if n > 0:
    print('%d 은/는 양수입니다.' % n)
else:
    print('%d 은/는 0 또는 음수입니다.' % n)

0 은/는 0 또는 음수입니다.

In [5]:
# 논리 곱
score1 = int(input('필기 성적> '))
score2 = int(input('실기 성적> '))

필기 성적> 85
실기 성적> 75

In [7]:
if (score1 >= 80) and (score2 >= 80):
    print('합격!')
else:
    print('불합격!')

불합격!

In [11]:
# 논리 부정
name = None
name = input('이름 입력> ')

이름 입력> James

In [12]:
if not name:
    print('이름이 입력되지 않았음.')
else:
    print('입력된 이름: %s' % name)

입력된 이름: James

In [19]:
# 양수, 0, 음수 판별
n = int(input('정수 입력> '))

정수 입력> 5

In [20]:
if n > 0:
    print('%d 은/는 양수입니다.' % n)
elif n == 0:
    print('0 입니다.')
else:
    print('%d 은/는 음수입니다.' % n)

5 은/는 양수입니다.

In [21]:
# 학점
score = int(input('점수> '))

점수> 75

In [22]:
if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
else:
    grade = 'F'

In [23]:
print(score, grade)

75 C

In [ ]:
# 세 수의 합과 평균
x = int(input('숫자> '))
y = int(input('숫자> '))
z = int(input('숫자> '))

In [26]:
x, y, z = input('세개의 숫자 입력> ').split()

세개의 숫자 입력> 35 67 94

In [28]:
x, y, z

('35', '67', '94')

In [29]:
int(x), int(y), int(z)

(35, 67, 94)

In [30]:
x, y, z = map(int, input('세개의 숫자 입력> ').split())
x, y, z

세개의 숫자 입력> 35 56 78

(35, 56, 78)

In [31]:
sum = x + y + z
avg = sum / 3
sum, avg

(169, 56.333333333333336)

In [37]:
# 만 나이 계산
current_year = 2020
current_month = 8
current_day = 28

In [56]:
birth_year, birth_month, birth_day = map(int, input('생일 입력> ').split())
birth_year, birth_month, birth_day

생일 입력> 2000 8 28

(2000, 8, 28)

In [57]:
if current_month > birth_month:
    age = current_year - birth_year
elif current_month < birth_month:
    age = current_year - birth_year - 1
elif current_day < birth_day:
    age = current_year - birth_year - 1
else:
    age = current_year - birth_year

In [58]:
age

20

In [59]:
if current_month > birth_month:            # 현재월 > 생월
    age = current_year - birth_year
elif current_month < birth_month:          # 현재월 < 생월
    age = current_year - birth_year - 1
else:                                      # 현재월 == 생월
    if current_day < birth_day:                # 현재일 < 생일
        age = current_year - birth_year - 1
    else:                                      # 현재일 >= 생일
        age = current_year - birth_year
        
print(age)

20

In [60]:
# 파이썬 datetime 모듈 활용
import datetime
datetime.datetime.now()

datetime.datetime(2020, 8, 28, 11, 16, 0, 302968)

In [61]:
current_year = datetime.datetime.now().year
current_month = datetime.datetime.now().month
current_day = datetime.datetime.now().day
current_year, current_month, current_day

(2020, 8, 28)

In [2]:
# 생일 6자리 숫자로 받아서 처리하기
birthday = input('생일 6자리 숫자> ')   
b_year = int(birthday[:2])
if b_year <= 20:
    b_year += 2000
else:
    b_year += 1900
b_month = int(birthday[2:4])
b_day = int(birthday[4:])
b_year, b_month, b_day

생일 6자리 숫자> 000430

(2000, 4, 30)

In [6]:
# 생일 임의의 연속된 숫자로 받아서 처리하기
birthday = input('생일 (6, 7, 8자리 숫자)> ')
if len(birthday) == 6:
    b_year = int(birthday[:2])
    if b_year <= 20:
        b_year += 2000
    else:
        b_year += 1900
    b_month = int(birthday[2:4])
    b_day = int(birthday[4:])
elif len(birthday) == 7:
    b_year = int(birthday[:2])
    if int(birthday[-1]) > 2:
        b_year += 2000
    else:
        b_year += 1900
    b_month = int(birthday[2:4])
    b_day = int(birthday[4:6])
elif len(birthday) == 8:
    b_year = int(birthday[:4])
    b_month = int(birthday[4:6])
    b_day = int(birthday[6:8])
else:
    print('6 ~ 8자리의 숫자를 입력하세요')
    
print(b_year, b_month, b_day)

생일 (6, 7, 8자리 숫자)> 19840226
1984 2 26